* {
  padding:0px;
  margin:0px;
}

body {
  text-align: center;
}

form {
  margin-top:20px;
}
input {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
}
p {
  /*margin-left:-135px;*/
}
